@charset "UTF-8";
/* TITRE DU SITE */
#site-title-homepage {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* BURGER MENU */
.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Icone menu burger */
.menu-burger {
  width: 40px;
  height: 30px;
  position: absolute;
  right: 5em;
  cursor: pointer;
}
.menu-burger .trait1, .menu-burger .trait2, .menu-burger .trait3 {
  width: 100%;
  height: 2px;
  background-color: #000;
  margin: 6px 0;
}
.menu-burger.crossed .trait1 {
  transform: rotate(45deg) translate(7px, 5px);
}
.menu-burger.crossed .trait2 {
  opacity: 0;
}
.menu-burger.crossed .trait3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* menu burger ouvert*/
.menu_ouvert {
  background-color: #FFF5E9;
  width: 100%;
  height: 100vh;
  font-family: "Roboto Mono", monospace;
  font-size: 4rem;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.menu_ouvert li > a {
  font-size: 3.1rem;
}
.menu_ouvert ul {
  margin: 0;
  padding-inline-start: 0;
}

.menu_ouvert_logo {
  width: 154.12px;
}

.menu_ouvert_contenu {
  max-height: 91vh;
  overflow-y: auto;
  list-style-type: none;
}
.menu_ouvert_contenu li {
  font-size: 64px;
}
.menu_ouvert_contenu a {
  text-decoration: none;
}

.menu_ouvert_footer {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  font-weight: 400;
  position: absolute;
  bottom: 100px;
}

/* ANIMATION VIDEO */
.banner {
  display: flex;
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
  height: 800px;
}
.banner .banner_video {
  position: absolute;
  bottom: 0px;
  min-width: 1440px;
  z-index: 1;
  opacity: 1;
  left: auto;
}
.banner .banner_logo {
  position: sticky;
  top: 80px;
  z-index: 10;
  opacity: 1;
  animation: move-up 2s 300ms both, float 6s 2s infinite ease-in-out;
}
@keyframes move-up {
  0% {
    transform: translateY(600px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes float {
  0% {
    transform: translate3d(6px, 6px, 0);
  }
  12% {
    transform: translate3d(0px, 6px, 0);
  }
  24% {
    transform: translate3d(6px, -4px, 0);
  }
  36% {
    transform: translate3d(6px, 0px, 0);
  }
  48% {
    transform: translate3d(-4px, -6px, 0);
  }
  60% {
    transform: translate3d(0px, -4px, 0);
  }
  72% {
    transform: translate3d(-8px, 6px, 0);
  }
  84% {
    transform: translate3d(-4px, 0px, 0);
  }
  100% {
    transform: translate3d(6px, 6px, 0);
  }
}

/* FADE IN SECTIONS */
.hidden {
  display: none;
}

/* ANIMATION TITRES */
@keyframes move-up {
  0% {
    transform: translateY(600px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes rotateSunflower2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateOrchid {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateSunflower {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateHibiscus {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateRandom_flower {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateFlower {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateHibiscus_footer {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Utilisation des animations */
.oscars::before {
  animation: rotateSunflower2 10s linear infinite;
}

.oscars::after {
  animation: rotateOrchid 10s linear infinite;
}

.story h2::after {
  animation: rotateSunflower 10s linear infinite;
}

.story__article::after {
  animation: rotateHibiscus 10s linear infinite;
}

#studio h2::before {
  animation: rotateRandom_flower 10s linear infinite;
}

#studio h2::after {
  animation: rotateFlower 10s linear infinite;
}

.site-footer ul::after {
  animation: rotateHibiscus_footer 10s linear infinite;
}

/* SLIDER */
/* Section personnages */
#characters {
  margin: 6em;
  display: flex;
  text-align: center;
}

#characters h3 {
  background-image: url("./assets/images/orange_characters_bg.png");
}

article#characters {
  margin: 6em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 85%;
}

div.other-characters {
  display: none !important;
}

.story #characters {
  position: relative;
  margin-bottom: 0 !important;
  z-index: 20;
}

.story #characters div {
  flex: none;
}

.swiper-container {
  width: 100%;
  opacity: 1;
  margin-bottom: 7em;
  overflow: hidden;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide figure {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ANIMATION NUAGES */
.story #place {
  background-image: url("http://localhost/koukaki/wp-content/uploads/2024/04/Studio_Koukaki-image_place.png");
  z-index: 10;
  display: flex;
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
}
.story #place .big_cloud {
  position: absolute;
  z-index: 100;
  top: 60px;
  left: 1031px;
  filter: blur(15px);
  opacity: 0.8;
}
.story #place .little_cloud {
  position: absolute;
  z-index: 100;
  top: 260px;
  left: 793px;
  filter: blur(10px);
  opacity: 0.8;
}

@keyframes moveLeftToRight_little {
  from {
    left: 493px;
  }
  to {
    left: 793px;
  }
}
@keyframes moveLeftToRight_big {
  from {
    left: 793px;
  }
  to {
    left: 1031px;
  }
}
.little_cloud {
  animation: moveLeftToRight_little 10s linear;
}

.big_cloud {
  animation: moveLeftToRight_big 10s linear;
}

/* NOMINATION OSCARS */
.oscars {
  position: relative;
  padding-top: 90px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 0;
  justify-content: center;
  align-items: center;
}

.oscars__image {
  margin-top: -82px;
}

.oscars__title {
  position: relative;
}

.oscars__title img {
  height: 100%;
}

.oscars__title h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 3.2rem;
  text-align: left;
  font-size: 2.75rem;
}

.oscars img {
  height: 100%;
}

/* déplacement fleur animées */
.oscars::before {
  content: url("../images/Sunflower.png");
  position: absolute;
  left: 4em;
  top: 0em;
}

.oscars::after {
  content: url("../images/orchid.png");
  position: absolute;
  right: -4em;
  top: -3em;
}

.site-footer::before {
  display: none;
}

.site-footer::after {
  display: none;
}/*# sourceMappingURL=style.css.map */