//ANIMATION VIDEO

.banner
  display: flex
  position: relative
  object-fit: contain
  height: 800px

  .banner_video
    position: absolute
    bottom: 0px
    min-width: 1440px
    z-index: 1
    opacity: 1
    left: auto

  .banner_logo
    position: sticky
    top: 80px
    z-index: 10
    opacity: 1
    animation: move-up 2s 300ms both, float 6s 2s infinite ease-in-out

  @keyframes move-up
    0%
      transform: translateY(600px)
      opacity: 0

    100%
      transform: translateY(0)

  @keyframes float
    0%
      transform: translate3d(6px,6px,0)

    12%
      transform: translate3d(0px,6px,0)

    24%
      transform: translate3d(6px,-4px,0)

    36%
      transform: translate3d(6px,0px,0)

    48%
      transform: translate3d(-4px,-6px,0)

    60%
      transform: translate3d(0px,-4px,0)

    72%
      transform: translate3d(-8px,6px,0)

    84%
      transform: translate3d(-4px,0px,0)

    100%
      transform: translate3d(6px,6px,0)

// FADE IN SECTIONS

.hidden
  display: none

// ANIMATION TITRES

// .scroll-animation
//   opacity: 0
//   transform: translateY(100px)
//   transition: 10s
//   transition-delay: 0,5s
//   animation: animatedTitle 1s 1s forwards
//   &.visible
//     opacity: 1
//     transform: translateY(0)

// @keyframes animatedTitle
//   0%
//     transform: translate3d(-50%, 50%, 0)
//     opacity: 0
//   100%
//     transform: translate3d(-50%, -50%, 0)
//     opacity: 1

// .animationTitle
//   animation: animTitle 1s 1s forwards

// @keyframes animTitle
//   0%
//     transform: translate3d(-50%, 50%, 0)
//     opacity: 0

//   100%
//     transform: translate3d(-50%, -50%, 0)
//     opacity: 1

// .animationTitle
//   animation: move-up_title 2s 300ms both, float 6s 2s infinite ease-in-out

// @keyframes move-up_title
//   0%
//     transform: translateY(600px)
//     opacity: 0

// .animationTitle
//   animation: move-up_title 2s 300ms both

// @keyframes move-up_title
//   from
//     transform: translateY(100%)

//   to
//     transform: translateY(0)

@keyframes move-up
  0%
    transform: translateY(600px)
    opacity: 0

  100%
    transform: translateY(0)
    // opacity: 1

.animationTitle
  // animation: move-up 2s 300ms both
  // opacity: 0

// .animationTitle
//   opacity: 0

  // ROTATION FLEURS

// Définition des animations

@keyframes rotateSunflower2
  from
    transform: rotate(0deg)

  to
    transform: rotate(360deg)

@keyframes rotateOrchid
  from
    transform: rotate(0deg)

  to
    transform: rotate(360deg)

@keyframes rotateSunflower
  from
    transform: rotate(0deg)

  to
    transform: rotate(360deg)

@keyframes rotateHibiscus
  from
    transform: rotate(0deg)

  to
    transform: rotate(360deg)

@keyframes rotateRandom_flower
  from
    transform: rotate(0deg)

  to
    transform: rotate(360deg)

@keyframes rotateFlower
  from
    transform: rotate(0deg)

  to
    transform: rotate(360deg)

@keyframes rotateHibiscus_footer
  from
    transform: rotate(0deg)

  to
    transform: rotate(360deg)

// Utilisation des animations

.site-footer::before
  animation: rotateSunflower2 10s linear infinite

.site-footer::after
  animation: rotateOrchid 10s linear infinite

.story h2::after
  animation: rotateSunflower 10s linear infinite

.story__article::after
  animation: rotateHibiscus 10s linear infinite

#studio h2::before
  animation: rotateRandom_flower 10s linear infinite

#studio h2::after
  animation: rotateFlower 10s linear infinite

.site-footer ul::after
  animation: rotateHibiscus_footer 10s linear infinite

// SLIDER

.story #characters
  flex-direction: column

// .swiper
//   width: 100%
//   padding-top: 50px
//   padding-bottom: 50px

// .swiper-slide
//   background-position: center
//   background-size: cover
//   width: 300px
//   height: 300px

//   img
//     display: block
//     width: 100%

.story #characters
  position: relative
  margin-bottom: 0 !important
  z-index: 20

.story #characters div
  flex: none

.swiper-container
  width: 100%
  opacity: 1
  margin-bottom: 7em
  overflow: hidden

.swiper-slide
  background-position: center
  background-size: cover
  width: 300px
  height: 300px

  text-align: center
  font-size: 18px
  display: flex
  justify-content: center
  align-items: center

.swiper-slide figure
  display: block
  width: 100%
  object-fit: cover

//ANIMATION NUAGES

.story #place
  background-image: url('http://localhost/koukaki/wp-content/uploads/2024/04/Studio_Koukaki-image_place.png')
  z-index: 10
  display: flex
  position: relative
  object-fit: contain
  .big_cloud
    position: absolute
    z-index: 100
    top: 60px
    left: 1031px
    filter: blur(15px)
    opacity: 0.8
  .little_cloud
    position: absolute
    z-index: 100
    top: 260px
    left: 793px
    filter: blur(10px)
    opacity: 0.8

@keyframes moveLeftToRight_little
  from
    left: 493px

  to
    left: 793px

@keyframes moveLeftToRight_big
  from
    left: 793px

  to
    left: 1031px

.little_cloud
  animation: moveLeftToRight_little 10s linear

.big_cloud
  animation: moveLeftToRight_big 10s linear
